<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>camelCar</title>
  
  <!-- google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
  
  <!-- bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- fontawesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">

  <!-- swiper -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

  <link rel="stylesheet" href="css/style.css">

</head>

<body>

  <div class="main-background">
        
    <!-- inizio-navbar -->
    <header id="main-header">
      <nav class="navbar navbar-expand-lg">
        <div class="container">

          <!-- logo -->
          <a class="navbar-brand" href="index.html">
            <img src="images/logo.jpg" class="logo" alt="camelCar">
          </a>

          <button class="navbar-toggler px-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>

            <div class="offcanvas-body">

              <!-- search form -->
              <div class="search-form">
                <div class="form-floating">
                  <input type="text" class="form-control" id="floatingInput" placeholder="">
                  <label for="floatingInput">Cerca nel sito...</label>
                </div>
              </div>
              <!-- fine search form -->

              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Dropdown
                  </a>

                  <!-- dropdown menu -->
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </li>
                <!-- dropdown end -->
                  <li class="nav-item">
                    <div class="user-icon">
                      <i class="fa-solid fa-user"></i>
                    </div>
                  </li>
              </ul>

            </div>
          </div>
        </div>
      </nav>
    </header>
    <!-- fine navbar -->

    <section id="hero" class="d-flex flex-column align-items-center justify-content-center gap-5">

      <div class="hero-content text-center">
        <h1>camelCar</h1>
        <a href="#" class="btn btn-primary">Cammellami!</a>
      </div>

      <!-- inizio opzioni -->
      <div class="options">
        <form class="search-bar">
          <ul class="opzioni">

            <li>
              <div class="option-icon">
                <!-- Icona per "Parti da" -->
                <i class="fas fa-map-marker-alt"></i>
              </div>
              <div class="search-form">
                  <input name="partenza" type="text" placeholder="Parti da...">
              </div>
            </li>

            <li>
              <div class="option-icon">
                <!-- Icona per "Arriva a" -->
                <i class="fas fa-map-marked-alt"></i>
              </div>
              <div class="search-form">
                <input name="arrivo" type="text" placeholder="Arriva a...">
              </div>
            </li>

            <li>
              <div class="option-icon">
                <!-- Icona per "Data" -->
                <i class="fas fa-calendar-alt"></i>
              </div>
              <div class="search-form">
                <input name="data" type="text" placeholder="Data:">
              </div>
            </li>

            <li>
              <div class="option-icon">
                <!-- Icona per "Passeggeri" -->
                <i class="fas fa-users"></i>
              </div>
              <div class="search-form">
                <input name="passeggeri" type="text" placeholder="Passeggeri...">
              </div>
            </li>

          </ul>
        </form>
      </div>
      <!-- fine opzioni -->
    </section>
    <!-- fine hero -->
  </div>
  <!-- fine main background -->

  <!-- inizio carosello -->
  <div class="container-fluid container-carousel">
    <div class="swiper mySwiper">

      <div class="swiper-wrapper">
        <!-- GENERATI IN JS -->
      </div>

      <!-- Swiper Pagination -->
      <div class="swiper-pagination"></div>
    
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

    </div>
  </div>
  <!-- fine carosello -->

  <!-- inizio sezione news -->
  <section id="news">
    <div class="container">

      <!-- inizio news 1 -->
      <div class="row align-items-center">

        <div class="col-md-9 col-lg-9 mb-5">
          <h2>Lorem, ipsum dolor.</h2>
          <p class="mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat qui quasi eos dolor facere
            tempore repellat omnis inventore corrupti. Cumque in earum excepturi, accusantium repudiandae, consequuntur
            vero repellendus magni accusamus quis harum perferendis quidem repellat atque. Obcaecati ut dolorum
            exercitationem animi quia recusandae consequatur alias.</p>

          <a href="" class="btn btn-primary">Read more</a>
        </div>
      </div>
      <!-- fine news 1 -->
      
      <!-- inizio news 2 -->
      <div class="row align-items-center secondo-text">

        <div class="hero-img col-12 px-0">
          <img src="images/cammellijeep.png" class="immaginejeep img-fluid w-100" alt="cammellijeep">
        </div>
          
        <div class="col-md-12 col-lg-12 d-flex align-items-center flex-column ">
          <h2 class="mb-3">La tua sicurezza la nostra priorità</h2>
          <p class="mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat qui quasi eos dolor facere
            tempore repellat omnis inventore corrupti. Cumque in earum excepturi, accusantium repudiandae, consequuntur
            vero repellendus magni accusamus quis harum perferendis quidem repellat atque. Obcaecati ut dolorum
            exercitationem animi quia recusandae consequatur alias.</p>

          <a href="" class="btn btn-primary mb-5">Read more</a>
        </div>
      </div>
      <!-- fine news 2 -->

    </div>
  </section>
<!-- fine sezione news -->

<!-- inizio sezione offerte -->
  <section id="offerte">
    <div class="container">
      
      <div class="section-title py-5 mt-5">
        <h2>Ultime offerte</h2>
      </div>

      <div class="row gy-4">
        <div class="col-lg-4">
          <!-- inizio card -->
          <div class="card">
            <!-- <img src="./img/card1.jpg" class="card-img-top" alt=""> -->
            <div class="card-body">
              <h5 class="card-title">La tua selezione di viaggi a basso costo</h5>
              <p class="card-text">Non importa dove vai, in autobus o in carpooling, trova il viaggio perfetto per te
                tra le nostre numerose destinazioni e tratte a prezzi vantaggiosi.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <!-- fine card -->
        </div>
        <div class="col-lg-4">
          <!-- inizio card -->
          <div class="card">
            <!-- <img src="./img/card2.jpg" class="card-img-top" alt=""> -->
            <div class="card-body">
              <h5 class="card-title">Fidati dei tuoi compagni di viaggio</h5>
              <p class="card-text">
                Ci prendiamo del tempo per conoscere meglio tutti i nostri utenti e le nostre compagnie di autobus
                partner. Controlliamo i feedback, i profili e i documenti, così che tu possa sapere con chi viaggerai,
                per prenotare in tutta tranquillità sulla nostra piattaforma sicura.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <!-- fine card -->
        </div>
        <div class="col-lg-4">
          <!-- inizio card -->
          <div class="card">
            <!-- <img src="./img/card3.jpg" class="card-img-top" alt=""> -->
            <div class="card-body">
              <h5 class="card-title">Scorri, clicca e parti!</h5>
              <p class="card-text">Prenotare un viaggio non è mai stato così facile! Grazie alla nostra app intuitiva,
                basata sulla migliore tecnologia, puoi prenotare un viaggio vicino a te in pochi minuti.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <!-- fine card -->
        </div>
      </div>
    </div>
  </section>
  <!-- fine sezione offerte -->

  <!-- inizio sezione contatti -->
  <section id="contatti" class="mb-5">

    <div class="container">

      <div class="section-title">
        <h2>Contattaci</h2>
      </div>

      <form>
        <div class="row mb-5">
          <div class="col-lg-6">

            <div class="form-element">
              <label class="form-label" for="nome">Nome e cognome</label>
              <input class="form-control" type="text" name="nome" id="nome">
            </div>

            <div class="form-element">
              <label class="form-label" for="email">E-mail</label>
              <input class="form-control" type="email" name="email" id="email">
            </div>

            <div class="form-element">
              <label class="form-label" for="telefono">Telefono</label>
              <input class="form-control" type="tel" name="telefono" id="telefono">
            </div>

          </div>

          <div class="col-lg-6">
            <div class="form-element h-100 d-flex flex-column">
              <label class="form-label" for="messaggio">Il tuo messaggio</label>
              <textarea style="resize:none;" class="form-control flex-grow-1" name="messaggio" id="messaggio"></textarea>
            </div>
          </div>

        </div>
        <!-- fine prima row form -->

        <div class="row">

          <div class="col-lg-6">
            <input class="form-check-input" type="checkbox" value="" id="privacy">
            <label class="form-check-label" for="privacy">
              Ho letto e accettato la privacy policy
            </label>
          </div>

          <div class="col-lg-6">
            <div class="d-grid d-lg-block">
              <button class="btn btn-primary">Invia</button>
            </div>
          </div>

        </div>
      </form>

    </div>
  </section>
  <!-- fine sezione contatti -->

  <footer id="main-footer" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 text-center text-lg-start">Info azienda | Cookies | Etc.</div>
        <div class="col-lg-4 text-center">IG | FB | YT</div>
        <div class="col-lg-4 text-center text-lg-end">&copy; 2024 Jaita 131</div>
      </div>
    </div>
  </footer>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="js/camelCar.js"></script>
</body>

</html>