<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Insert title here</title>
  <title>Login</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Pacifico&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap"
    rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

  <link rel="stylesheet" href="css/style.css">
  <script src="js/login.js"></script>
</head>

<body>
  <div class="background">

    <header id="main-header">

      <!-- Navbar con off-canvas: https://getbootstrap.com/docs/5.3/components/navbar/#offcanvas -->

      <!-- NOTA: aggiungo la classe navbar-expand-lg per espandere la nav su schermi grandi -->
      <nav class="navbar navbar-expand-lg">

        <!-- NOTA: ho sostituito container-fluid con un .container per stringere la navbar -->
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src="images/logo.jpg" alt="camelCar" style="width:150px">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <!-- <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5> -->
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>

            <div class="offcanvas-body">
              <div class="search-form">
                <form class="form-floating">
                  <input type="text" class="form-control" id="floatingInput" placeholder="">
                  <label for="floatingInput">Cerca nel sito...</label>
                </form>
              </div>

              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Dropdown
                  </a>
                  <ul class="dropdown-menu">
                    <div class="user-icon">
                      <i class="fa-solid fa-user"></i>
                    </div>
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </li>
              </ul>

              <div class="user-icon">
                <i class="fa-solid fa-user"></i>
              </div>
            </div>
          </div>
        </div>

</header>
    <!-- <div class="form-card"> -->
      </nav>


    </header>
    <div class="form-card">
      <section class="form-container">

        <h1>Sign up</h1>

        <div class="container d-flex justify-content-center align-items-center mt-5" id="login">
          <div class="text-center col-md-9" id="forms-login">
            <form>
              <div class="mb-3">
                <label for="email" class="form-label"></label>
                <input type="text" id="email" class="form-control" placeholder="Email" />
              </div>
              <div class="mb-3">
                <label for="password" class="form-label"></label>
                <input type="password" id="password" class="form-control" placeholder="Password" />
              </div>
              <div class="mb-4">
                <button onclick="login()" class="btn btn-primary w-100"><span>Sign up</span></button>
              </div>
              <!-- <div class="mb-4">
                      <button onclick="accessProtected()" class="btn btn-secondary w-100">Access Protected Resource</button>
                  </div>
                  <div>
                      <button onclick="logout()" class="btn btn-danger w-100">Logout</button>
                  </div> -->

              <a href="#?">Hai dimenticato la password?</a>

              <hr class="my-5">

              <p id="accedi-con">Accedi con </p>

              <div class="icone">
                <i class="fab fa-google fa-2x icon"></i>
                <i class="fab fa-facebook fa-2x icon"></i>
                <i class="fab fa-linkedin fa-2x icon"></i>
              </div>

              <p id="giauser">Sei già uno user? <a href="/templates/login.html">Log-in</a></p>

            </form>
          </div>
        </div>
      </section>
    <!-- </div> -->
    </div>
  </div>
  <footer id="main-footer" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 text-center text-lg-start">Info azienda | Cookies | Etc.</div>
        <div class="col-lg-4 text-center">IG | FB | YT</div>
        <div class="col-lg-4 text-center text-lg-end">&copy; 2024 Jaita 131</div>
      </div>
    </div>
  </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

</html>