<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dettaglio Veicolo</title>
</head>
<body>
    <!-- <h1>Dettaglio Veicolo</h1>
    <div id="vehicle-detail">
        <img id="vehicle-image" src="" alt="Immagine Veicolo" width="500">
        <h2 id="vehicle-name"></h2>
        <p id="vehicle-description"></p>
    </div> -->

    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Veicolo</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos corporis temporibus, dolor non voluptate laudantium?</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Nome Veicolo</li>
          <li class="list-group-item">Catgoria</li>
          <li class="list-group-item"></li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>

    <script src="js/veicolo.js"></script>
</body>
</html>
