/* -------------------------------------------------------------------------- */
/*                                 STILI FONT                                 */
/* -------------------------------------------------------------------------- */

body {
    font-family: 'Reddit Sans', sans-serif;
}

h1, h2 {
    font-family: 'Pacifico', serif;
    color: #4A0000;
}

.section-title {
    margin-top: 4rem;
}

.section-title h2 {
    border-bottom: 2px dotted black;
}

/* -------------------------------------------------------------------------- */
/*                                   NAV BAR                                   */
/* -------------------------------------------------------------------------- */

.navbar-nav {
    display: flex;
    justify-content: space-between;
    /* position: relative; */
}

.navbar {
    background: rgba(255, 255, 255, 0.104);
}

.search-form {
 
    align-items: center;
}

.search-bar {
border-radius: 16px;
}

.user-icon {
    width: 1.8rem;  
    height: 1.8rem;  
    border: 2px solid black;
    border-radius: 50%;
    text-align: center;
}   

.logo {
    max-height: 50px;
    max-width: 50px;
    margin-left: 2rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.492);
}

.fa-user {
    height: 70%;
    width: auto;

}

.offcanvas-body {
    justify-content: space-between;

}

.background {
    background-image: url(../images/dunedesert.jpg);
    /* background-position: start;
    background-repeat: no-repeat;
    height: 100vh; */

    background-size: cover;
    background-repeat: no-repeat;
}


/* -------------------------------------------------------------------------- */
/*                                    HERO                                    */
/* -------------------------------------------------------------------------- */

#hero {


    background-image: url('../img/hero.jpg');

    /* The holy trinity of background images */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /*nota: viene ereditata anche da desktop!*/
/* 
    height: 60vh; */

    color: #000000;

    /* background: rgb(253,232,209);
    background: linear-gradient(0deg, rgba(253,232,209,1) 0%, rgba(187,127,54,1) 100%);; */

}

#hero h1 {
    color: #000000;
}

ul {
    list-style: none; 
    padding: 3rem; 
    width: 100%; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    align-items: stretch; 
    /* gap: 1rem;  */
}

ul li {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 1rem; 
    width: 100%; 
    background-color: rgb(240, 240, 240); 
    /* border: 1px solid #ccc;  */
    /* border-radius: 8px;  */
}

ul li i {
    font-size: 1.5rem;
    color: #007bff; 
    margin-right: 1rem; 
}

ul li .search-form input {
    flex: 1; 
    padding: 0.75rem; 
    border: none; 
    border-radius: 8px; 
    font-size: 1rem; 
    background-color: #ffffff; 
}

ul li .search-form input:focus {
    outline: none; 
    border: 2px solid #007bff; 
}

ul li:first-child {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

ul li:last-child {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}


ul .search-form input:focus {
    outline: none; 
    border-color: #007bff; 
}


.options {
    display: flex;
    align-items: start;
    /* border: 2px solid red;  */
    /* background-color: rgba(232, 235, 232, 0.155);  */
    border-radius: 16px;
    
}

.opzioni {
    align-items: center;
}

.secondo-text {
    background-color: #d1613d;
    color: #eee;
}



.immaginejeep {
    
    width: 100%;
}

/* -------------------------------------------------------------------------- */
/*                                IMAGE SPACER                                */
/* -------------------------------------------------------------------------- */

#image-spacer {
    background-image: url('../img/la_webp.webp');

      /* The holy trinity of background images */
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      /*nota: viene ereditata anche da desktop!*/

      background-attachment: fixed; /*nessuno scroll sull'immagine*/
      height:400px;

      margin: 5rem auto;
}

/* Background-attachment: fixed ha problemi su Safari. Per ovviare possiamo usare questo hack: */

@supports (-webkit-touch-callout: none) {
    #image-spacer {
      background-attachment: scroll; /* Disabilita fixed solo su Safari */
    }
  }


textarea {
    height:200px;
}


#main-footer {
background: #7571bb;
color:#efefef;
}





/* -------------------------------------------------------------------------- */
/*                                 STILI LARGE                                */
/* -------------------------------------------------------------------------- */

@media screen and (min-width:992px) {

    #hero {
        /*se abbiamo la navbar normale e non fixed-top*/
        height: calc(100vh - 67px);
        
       
    }

    textarea {
        height: auto;
    }
}

/* -------------------------------- carosello ------------------------------- */

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #ffffff00;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.list-group {
    padding: 0;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.container-carousel{
    background: rgb(181,66,39);
background: linear-gradient(180deg, rgba(181,66,39,1) 0%, rgba(238,238,238,1) 100%);

}

.card {
    margin-top: 4rem;
}

.card h5{
    font-size: 20px;
    font-weight: 800;
}

/*---------------------------------LOGIN / SIGNUP --------------------------------------------*/
/*---------------------------------SIGN-UP--------------------------------------------*/

.form-card {
    border: 2px solid purple;
    height: 95%;
    background-image: url(../images/cammellilogin.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.form-container {
    margin-top: 15rem;
    margin-left: 5rem;
    margin-right: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(145, 145, 145);
    border-radius: 16px;
    background-color: #fff;
    position: relative;
    
}

.form-container h1 {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    font-size: 5rem;
  }

#login {
    padding-top: 5rem;
    padding-bottom: 5rem;
}


.form-container input {
    height: 5rem;
    border: 2px solid #a7a7a7;
}

.form-container button {
    height: 5rem;
}

span {
    font-size: 32px;
}

.icone {
    display: flex;
    justify-content: center; 
    padding: 2rem;
    gap:2rem;
    font-size: 24px;
    color: rgb(64, 64, 64)
}

#accedi-con, #giuauser {
    font-size: 32px;
}

#forms-login input::placeholder{
    font-size: 32px;
}

.form-check {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .form-check-input {
    appearance: none;
    width: 40px;
    border: 2px solid #007bff;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    transition: background-color 0.3s, border-color 0.3s;
    height: 40px !important;
  }
  
  .form-check-input:checked {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .form-check-input:checked::after {
    content: '✓';
    font-size: 14px;
    color: white;
  }
  
  .form-check-label {
    font-size: 16px;
    color: #333;
    cursor: pointer;
  }
  
  .form-check-label p {
    margin: 0;
  }
  
  .form-check:hover .form-check-input {
    border-color: #0056b3;
  }
  

/*-------------------------------VEICOLO----------------------------------------------------*/
.card-container{
    margin-top: 4rem;
}

.img-card{
    max-width: 100%;
}

/* ---------------------------- inserisci veicolo --------------------------- */

.container-form {
    padding: 1rem 0;
    margin-right: 0;
    margin-left: 0;
    border: 1px solid #a7a7a7;
    border-radius: 16px;
    background-color: #ededed;
    
}

#inserisci-veicolo {
    background-color: greenyellow;
    color: green;
    margin: 2rem;
    border-radius: 8px;
    padding: 8px 1.5px;
}

#logout {
    background-color: red;
    border-radius: 8px;
    padding: 8px 2rem;
    color: #efefef;
}